.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #f2f2f2;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #e6e6e6;
  font-weight: bold;
}

.table td {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 400px;
  }
}
